header.type-1 {
  background: linear-gradient(136.62deg, #1b1a1a 41.78%, #323332 81.83%);
}
header.type-1 .nav {
  padding: 0;
  list-style: none;
  margin-right: 40px;
}
#faq_section {
  background: #343434;
  height: auto; 

}
#faq_section .inner-wrapper {
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  padding-top: 50px;
  padding-bottom: 50px;
}

header.type-1 .nav li {
  display: inline;
  color: #fff;
  padding: 15px 45px;
  text-transform: uppercase;
  font-family: 'Lato';
  font-size: 16px;
  font-weight: 900;
  letter-spacing: 0.25em;
}
header.type-1 .logo {
  margin-right: 160px;
}

@media (max-width: 1800px) {
  header.type-1 .nav li {
    padding: 15px 25px;
  }
  header.type-1 .logo {
    margin-right: 120px;
  }
}

@media (max-width: 1560px) {
  header.type-1 .nav li {
    padding: 15px 20px;
    font-size: 14px;
  }
  header.type-1 .logo {
    margin-right: 20px;
  }

  header .headtel,
  header .header-contacts {
    font-size: 15px;
  }
  header.type-1 .nav {
    margin-right: 20px;
  }
  header.type-1 .head-right {
    width: auto;
  }
}
.text-left-uppcase {
  text-align: left;
  text-transform: uppercase;
}
.list-style li {
  position: relative;
  display: inline-block;
  vertical-align: middle;
  list-style: none;
  font-size: 20px;
  line-height: 29px;
  font-weight: 500;
  letter-spacing: 0.13em;
}
.color_lite {
  color: rgba(255, 255, 255, 0.7);
}
.color_lite .active {
  color: #ffffff;
}
.color_dark {
  color: #343434;
}
.color_dark .active {
  font-weight: 600;
}
@media (max-width: 1200px) {
  .list-style li {
    font-size: 16px;
  }
}
@media (max-width: 970px) {
  .text-left-uppcase {
    font-size: 41px !important;
    padding-right: 6px;
  }
  .add_media_size {
    font-size: 17px;
  }
}
@media (max-width: 770px) {
  .add_media_size {
    display: block !important;
    padding-top: 16px;
  }
}

.pl-50 {
  padding-left: 50px;
}
.w-75 {
  width: 75%;
}
.second_title {
  font-weight: bold;
  font-size: 42px;
  line-height: 51px;
  text-transform: uppercase;
}
.block_list {
  width: 361px;
  height: 359px;
  padding: 25px 33px;
  background-color: #ffffff;
  border-radius: 5%;
  display: block;
}
.block_list:hover .line_1 {
  width: 100%;
}
.block_list img {
  width: 52px;
  height: 52px;
  margin-bottom: 32px;
}
.line_1 {
  width: 60px;
  height: 0px;
  display: block;
  border: 3px solid #343434;
  background-color: #343434;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  transition: all .3s;
}
.block_list h4 {
  font-weight: bold;
  font-size: 18px;
  padding-top: 24px;
  padding-bottom: 14px;
  line-height: 22px;
  text-transform: uppercase;
  color: #343434;
}
/* .list_info {
} */
.list_info li {
  font-size: 24px;
  line-height: 29px;
  color: #343434;
  padding-bottom: 10px;
  padding-left: 25px;

  list-style: none;
  position: relative;
  margin-left: 0;
}
.list_info li:before {
  content: "";
  position: absolute;
  left: 0;
  top: 7px;
  background: #343434;
  height: 15px;
  width: 15px;
  border-radius: 50%;
}
.block_second {
  width: 1160px;
  height: 190px;
  padding: 30px;
  background: #ffffff;
  box-sizing: border-box;
  border-radius: 20px;
  display: flex;
  justify-content: space-between;
}
.three_column {
  width: 38%;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  height: 83%;
  column-gap: 80px;
}
.three_column li:nth-child(3),
.three_column li:nth-child(4) {
  width: 93%;
  margin-left: 10px;
}
.w-110 {
  width: 110%;
}
.w-60 {
  width: 60%;
}
.mt-100 {
  margin-top: 100px;
}
.mt-250 {
  margin-top: 250px;
}
.ml-100 {
  margin-left: 100px;
}
.mt-75 {
  margin-top: 75px;
}
.number_block {
  width: 200px;
  height: 150px;
  display: inline-block;
  margin-right: 21px;
}
.red_number {
  font-weight: bold;
  font-size: 48px;
  line-height: 110px;
  color: #ef3355;
}
.title_24 {
  font-weight: bold;
  font-size: 24px;
  line-height: 29px;
  color: #343434;
}
.arrow {
  display: inline-block;
  margin-right: 80px;
}
.mb-140 {
  margin-bottom: 140px;
}
.mt-55 {
  margin-top: 55px;
}
.btn_call {
  font-weight: 600;
  font-size: 18px;
  line-height: 22px;
  font-variant: small-caps;
  display: block;
  text-align: center;
  padding: 24px;
  width: 260px;
  height: 70px;
  background: #ef3355;
  color: #ffffff;
}
a {
  cursor: pointer;
}
.footer_list li {
  list-style: none;
  padding-bottom: 13px;
}
.footer_list li a {
  font-size: 18px;
  line-height: 22px;
  color: rgba(255, 255, 255, 0.7);
}
.header_black {
  position: relative;
  background: #343434;
}
.back_lite_gray {
  background: #e5e5e5;
}
/* .list_faq {
} */
.plus {
  position: absolute;
  top: 0;
  bottom: 0;
  cursor: pointer;
  right: 0;
  z-index: 2;
  height: 62px;
  width: 44px;
  background: transparent;
  border-radius: 0 0 0 0;
  transition: 0.4s all ease;
}
.list_faq .plus::before,
.list_faq .plus::after {
  content: '';
  position: absolute;
  top: 50%;
  z-index: 4;
  transform: translate3d(50%, -50%, 0);
  background: #151515;
}

.list_faq .plus::before {
  width: 14px;
  height: 2px;
  right: 50%;
}

.list_faq .plus::after {
  width: 2px;
  height: 14px;
  right: 50%;
}
.list_faq {
  width: 860px;
  margin-left: 200px;
}
.second_list_faq {
  width: 100%;
}

.list_faq li {
  width: 100%;
  list-style: none;
  position: relative;
  cursor: pointer;
}
.list_faq li a {
  font-size: 24px;
  line-height: 58px;
  color: rgba(0, 0, 0, 0.65);
}
.second_list_faq li > a {
  font-size: 22px;
  line-height: 38px;
  padding-left: 60px;
  color: #4b4a4ae8;
}
.border_b {
  border-bottom: 2px solid #000000;
}
.border_b_gray {
  border-bottom: 1px solid #4b4a4a5e;
}
.list_faq li:nth-child(1) {
  border-top: 2px solid #000000;
}
.display_none {
  display: none;
}
.open_list {
  display: block;
}
@media (max-width: 1199px) {
  .list_faq {
    margin-left: 100px;
    width: 800px;
  }
  .btn_call {
    width: auto;
  }
}
@media (max-width: 991px) {
  .text-left-uppcase {
    margin-left: 0px;
    margin-top: 0
  }
  .list_faq {
    margin-left: 0px;
    width: 699px;
  }
  .list_faq li a {
    font-size: 21px;
  }
}
@media (max-width: 767px) {
  .list_faq {
    width: 530px;
  }
}
@media (max-width: 576px) {
  .list_faq {
    width: 80%;
    margin: 0 auto;
  }
  .list_faq li a {
    font-size: 20px;
  }
}
/* burger */

.burger {
  position: absolute;
  right: 23px;
  top: 26px;
  width: auto;
  display: none;
  cursor: pointer;
}
.burger_active:nth-child(1n) {
  transform: rotate(45deg);
  margin-top: 11px;
}
.burger_active:nth-child(3n) {
  transform: rotate(131deg);
  margin-top: -11px;
}
.burger_active:nth-child(2n) {
  display: none;
}
.burger_line {
  display: block;
  width: 37px;
  border: 1px solid #ffffff;
  margin-bottom: 10px;
}
@media (max-width: 767px) {
  .header_burger {
    height: 80px;
    padding: 4px !important;
  }
  .display_none {
    display: none !important;
  }
  .burger {
    display: block;
  }
}
/* menu vertical */
.menu_vertical {
  position: absolute;
  display: none;
  right: 0;
  top: 80px;
  width: 180px;
  height: 300px;
  background: #343434;
  transition: cubic-bezier(0.445, 0.05, 0.55, 0.95);
}
.menu_items {
  display: flex;
  justify-content: space-around;
  flex-direction: column;
  gap: 24px;
  width: 84px;
  margin: 12px 0px 12px 0px;
  padding-bottom: 18px;
  padding-right: 12px;
}
@media (min-width: 768px) {
  .menu_vertical {
    display: none;
  }
}
